.randomFilmContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
}

.title-container-b::first-letter {
    color: rgb(76, 192, 201);
}

.title-container {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px gray
}

.title-container-b {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: solid 1px gray
}

.title-container-c {
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin-bottom: 1rem;
}

/*.title-container-b:after| {
    content: "";
    left: 5%;
    width: 75%;
    position: absolute;
    bottom: 0; 
    border-bottom: 1px solid gray;
    /*border-left: 1px solid gray;
} */

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 10px;    
}

.button {
    white-space: normal;
}

.asd {
    border: solid 1px white;
}

@media screen and (max-width: 768px) {
    .personal-responsive {
      margin-top: 1rem;
      margin-bottom: 3rem;
      /*margin-left: -2rem;*/
      display: flex;
      flex-direction: column;
      align-items:center;
      gap: 2rem;
    }
    .randomFilmContainer {
        padding: 0px 15px;
    }
    .title-container-c {
        border-top: solid 1px gray;
        border-bottom: solid 1px gray;
    }
  }